<!DOCTYPE html>
<html>
<body>
  <pre>
    Q.8) Rebuild previous Node assignment using Express and a template engine (Handlebars).
  </pre>
  <h2>{{msg}}</h2>
  <form method="POST" action="/submit">
    <input type="text" name="name" placeholder="Enter your name" />
    <button type="submit">Submit</button>
  </form>
</body>
</html>